.cust-homr-Buy{
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 2rem;
    width: 15rem;   
    margin-left: 2.4rem;

}
.cust-homr-cart{
    background-color: #fd770a;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    height: 2rem;
    width: 15rem;
    margin-left: 2.4rem;
    margin-top: 10px;


}
.cust-homr-cart:hover{
    background-color: rgb(253, 203, 146);

}
.cust-homr-Buy:hover{
    background-color: rgb(160, 235, 165);

}
.card-body-rwcr{
    padding-right: -1rem;
}