.sign-form{
    display: flex;
    flex-direction: column;
    top: 10px;
}
.sign-body{
    max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
  padding-top: 20px;
}
.label1,.label2,.label3,.label4,.label5,.label6{
    margin-bottom: 8px;
}
.form-check-label{
    color: rgb(1, 7, 7);
    text-decoration: solid;
    margin-bottom: 8px;
}
input[type='radio']{
    color: azure;
}
input[type='email'],[type='text'],[type='number'],[type='password']{
    padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.head-sign{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    padding-bottom: 1rem;
  font-size: 5em;
  margin: 0;
  text-align: center;
}
.sign-button{
    padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sign-button:hover {
    background-color: rgb(160, 235, 165);
  }
  .link1-log{
    padding-left: 9rem;
    font-family: 'Times New Roman', Times, serif;
}
.home-butt-sign{
  padding-left: 90.5rem;
}
  